lock '3.2.1'

set :application, 'client'
set :repo_url, 'git@github.com:skroutz/analytics.js.git'

set :user, 'INSERT_DEPLOY_USER_HERE'
set :deploy_to, 'INSERT_DEPLOY_DIRECTORY_HERE'

set :use_sudo, false
set :ssh_options, {
  forward_agent: false
}

set :log_level, :info

set :linked_files, %w{config/settings/production.yml}
set :linked_dirs, %w{node_modules bower_components public}

set :default_env, {
  grunt_env: 'production'
}

namespace :deploy do
  desc 'Build client'
  task :build do
    on roles(:web), in: :sequence, wait: 5 do
      within(release_path) do
        execute :yarn, 'run build'
      end
    end
  end

  desc 'Copy assets to public folder'
  task :copy do
    on roles(:web) do
      within(release_path) do
        execute :cp, '-r', 'dist/*', 'public/client/'
        execute :cp, 'assets/*', 'public/assets/'
      end
    end
  end

  after :updated, :build
  after :build, :copy

  after :reverted, :copy
end
