common:
  iframe_message: "get_analytics_session"
  get_param_name: "analytics_session"
  single_beacon: false
xdomain_session_timeout: 5000
auto_pageview_timeout: 1000
send_auto_pageview: true
custom_tlds:
  - skroutzstore.gr
cookies:
  version: 1
  basic:
    analytics:
      name: '__b_sa_session'
      duration: 1800 # 30 minutes
    session:
      name: '__b_skr_nltcs_ss'
      duration: 60*60*24*7 # 7 days
    meta:
      name: '__b_skr_nltcs_mt'
  full:
    analytics:
      name: '__sa_session'
      duration: 1800 # 30 minutes
    session:
      name: '__skr_nltcs_ss'
      duration: 60*60*24*30 # 30 days
    meta:
      name: '__skr_nltcs_mt'

api:
  settings:
    key: "settings"
    set_account: "setAccount"
    set_callback: "setCallback"
    redirect_to: "redirectTo"
  yogurt:
    key: "yogurt"
    product_click: "productClick"
  site:
    key: "site"
    send_pageview: "sendPageView"
  ecommerce:
    key: "ecommerce"
    add_item: "addItem"
    add_transaction: "addTransaction"

url:
  analytics_session:
    create: "/track/create?shop_code=#{shop_code}&flavor=#{flavor}&session=#{session}&cp=#{cookie_policy}&metadata=#{metadata}"
    connect: "/track/connect?shop_code=#{shop_code}"
  beacon: "/track/actions/create?analytics_session=#{analytics_session}"

params:
  analytics_session: "analytics_session"
  signature: 'sig'
  url: 'url'
  referrer: 'referer' # Misspelling of referrer, check https://en.wikipedia.org/wiki/HTTP_referer
  shop_code: 'shop_code'
  metadata: 'metadata'
  actions: 'actions'
  transaction_id: 'transaction_id'
  cookie_policy: 'cp'
