skroutz:
  analytics_base_url: "http://localhost:7878"
  application_base_url: "http://localhost:3000"

alve:
  analytics_base_url: "http://localhost:7878"
  application_base_url: "http://localhost:3000"

scrooge:
  analytics_base_url: "http://localhost:7878"
  application_base_url: "http://localhost:3000"
