define ->
  ###
  This module is used by {PluginsManager}

  The format of this file should be like:
    PluginsSettings =
      general:
        fetch_plugins_url: '@@analytics_base_url/plugins'
      plugins:
        plugin_name:
          url: '@@analytics_base_url/@@plugin_name_hash'
      triggers:
        action: 'plugin_name'
  ###
  PluginsSettings =
    general:
      fetch_plugins_url: '@@analytics_base_url/plugins'
    plugins:
      order_stash:
        url: '@@analytics_base_url/@@order_stash_hash'
      badge:
        url: '@@analytics_base_url/@@badge_hash'
    triggers:
      order: 'order_stash'
      connect: 'badge'

  return PluginsSettings
