define ->
  Settings =
    redirectTo: (url)-> Settings.window.location.replace(url)
    iframe_message: '@@common.iframe_message'
    single_beacon: @@common.single_beacon
    params:
      analytics_session: '@@params.analytics_session'
      signature: '@@params.signature'
      url: '@@params.url'
      shop_code: '@@params.shop_code'
      actions: '@@params.actions'
    cookies:
      first_party_enabled: @@cookies.first_party_enabled
      version: @@cookies.version
      analytics:
        name: '@@cookies.analytics.name'
        duration: @@cookies.analytics.duration #In seconds: one week
    url:
      base: '@@base'
      analytics_session:
        create: (yogurt_session)->
          "@@base@@url.analytics_session.create"
        connect: -> "@@base@@url.analytics_session.connect"
      beacon: (analytics_session)->
        "@@base@@url.beacon"
      utils:
        third_party_step1: -> "@@base@@url.utils.third_party_step1"
        third_party_step2: -> "@@base@@url.utils.third_party_step2"
    api:
      settings:
        key: '@@api.settings.key'
        yogurt_session: '@@api.settings.yogurt_session'
        set_account: '@@api.settings.set_account'
        set_callback: '@@api.settings.set_callback'
        redirect_to: '@@api.settings.redirect_to'
      yogurt:
        key: '@@api.yogurt.key'
        product_click: '@@api.yogurt.product_click'
      site:
        key: '@@api.site.key'
        send_pageview: '@@api.site.send_pageview'
      ecommerce:
        key: '@@api.ecommerce.key'
        add_item: '@@api.ecommerce.add_item'
        add_transaction: '@@api.ecommerce.add_transaction'

  try
    Settings.window = global
  catch
    Settings.window = this

  # TODO MAKE IT BETTER
  Settings.window.sa = Settings.window.sa or ->
    (Settings.window.sa.q = Settings.window.sa.q || []).push(arguments)
    return
  Settings.window.sa.q = Settings.window.sa.q or []

  Settings.actions_queue = Settings.window.sa.q
  Settings.url.current   = Settings.window.location.href

  return Settings
